twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes:
        - 'bootstrap_4_layout.html.twig'
    globals:
        site_name: '%env(APP_NAME)%'
        paths:
            '%kernel.project_dir%/vendor/knplabs/knp-paginator-bundle/templates': KnpPaginator
        categoryRepository: '@App\Repository\CategoryRepository'

when@test:
    twig:
        strict_variables: true