//@import "~bootstrap";
@import "~bootswatch/dist/lumen/bootstrap.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

label.required:after {
  content: " *";
  color: red;
  font-weight: bold;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
  content: "Choisir un fichier...";
}

.navbar-nav > li.active {
  font-weight: bolder;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: 'Yusei Magic', sans-serif;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
