@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

body {
  background-color: lightgray;
}

label.required:after {
  content: " *";
  color: red;
  font-weight: bold;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
  content: "Choisir un fichier...";
}
