<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
</head>
<body>

{% include 'partials/_navbar.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
{% include 'partials/_footer.html.twig' %}
{% block javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
